/* ===================================================== FILE DISCONTINUED ===================================================== */

/* The following is used for: -LF*/
/* Setting up the base font size and page's font family -LF*/
* { /* Use the generic selector to overwrite any browser customization (such as those done by extensions like 'Itau Guardião'), ensuring accessibility and responsiveness */
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
					font-size: 2vw; /* Setting 2vw font-size on the body allows me to use the 'em' relative measurement. 1em = 2vw */
					font-family: PT Serif; /* Get this from the relsheet in home.html head */
					padding-left: 0vw;
					margin-left:0.0vw;
					background-color:rgb(188,181,184);
					background-image: url("BGImageHomepageTransparent.png");
					background-repeat: no-repeat;
					background-size: 100vw 100vh;
					z-index:0;
}

/* Changing Anchor/Link Style -LF*/	
a { 
	text-decoration: none; /* Eliminates underlines from the links */
	color: inherit; /* Makes all links inherit their font color from their parent div, otherwise they'd have the default link color */
}

/* Building the top menu (header) for the homepage */
header {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	background-color:#4c4c4c;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0vw;
	padding-top:0vw;
	height:2.5vw;

	
}

/* Will be used for the top-left corner logo */
#topmenulogo {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0.1vw;
	padding-top:0.1vw;
	height: 2.2vw;
}

/* Will be used for the nav menu on the top-right corner */

header ul {
	display: flex; /* A Flex display here allows us to place links side by side without the use of float and clear, and is more efficient than using css-grid */
	flex-direction: row; /* Specifies flex direction to be side-by-side, from left to right */
	justify-content: center; /* Means the elements will be centered on the parent div's width */
	list-style-type: none; /* Eliminates the bullets from the unordered list */
	padding-left: 0.2vw;
	padding-right: 0.9vw;
	margin-top: 0.425vw;
	margin-bottom: 0.425vw;
}

header li {
	color: #67C2FF;
	font-size: 0.6em;
}

header li a:hover {
	color: white;
}


/* Will be used in the content of the About Us page */

main .TabMenu {
	color: rgb(220,220,220);
	font-size: 0.6em;
	margin-right:0.1vw;
	padding: 0.1vw;
	width: 7vw;
	text-align:center;
	background-color: rgba(70,160,204,0.7);
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
}
main .TabMenu:hover {
	background-color: rgba(70,160,204,0.9);
	color: rgb(255,255,255);
	cursor:pointer;
}

main {
	margin-top:0.5vw;
	margin-left: 25vw;
}

/* BASE SETUP FOR VISITOR-PAGE STYLESHEET ENDS HERE */

.MainContainer {
	margin: 0;
	padding: 0;
}

.AboutUsContainer {
	display:none;
	background-color: rgba(70,160,204,0.7);
	width: 55%;
	border-top-style:solid;
	border-color: rgba(200,200,200,0.3);
	margin:0;
	padding:0;
	margin-top:-0.225vw;
}

main #AboutUsTab:checked ~ .AboutUsContainer {
	display:block;
}

.FAQContainer {
	display:none;
	background-color: rgba(70,160,204,0.7);
	width: 55%;
	border-top-style:solid;
	border-color: rgba(200,200,200,0.3);
	margin-top:-0.225vw;
	padding-bottom:0.5vw;
	padding-left:0.5vw;
	padding-top:0.2vw;
}

.FAQItem {
	background-color:rgba(59,86,142,0.5);
	border-radius: 0.8vw;
	width: 90%;
	margin-bottom:0.4vw;
	padding-left:0.4vw;
	font-size: 0.8em;
	list-style-type: none;
	color:rgb(126,189,211);
	display:flex; /* This flex is so that the P and the Span inside each item are on opposite sides of the FAQItem container. It's aligning left and right respectively without using float. */
	flex-direction:row;
	justify-content:space-between;
	cursor:pointer;
	margin-top:0.5vw;
	margin-bottom:0.2vw;
}

.FAQItemLabel {
	display:block;
	cursor:pointer;
}

.FAQItemLabelPlus {
	display:block;
	padding-left:90px;
	position:relative;
	left:-1.5vw;
	font-weight:bold;
	cursor:pointer;
}

.FAQAnswer {
	font-size:0.5em;
	list-style-type:none;
	height:0px;
	font-size:0px;
}

main #FAQTab:checked ~ .FAQContainer {
	display:block;
}

.OurStaffContainer {
	display:none;
	background-color: rgba(70,160,204,0.7);
	width: 55%;
	border-top-style:solid;
	border-color: rgba(200,200,200,0.3);
	margin-top:-0.225vw;
}

main #OurStaffTab:checked ~ .OurStaffContainer {
	display:block;
}

.MainContainer label {
	display:inline-block;
	margin-right:-0.48vw; /* This is, unfortunately, the only way to treat the whitespace between inline-block divs. */
	padding:0;
}






