/* ===================================================== FILE DISCONTINUED ===================================================== */

/* The following is used for: -LF*/
/* Setting up the base font size and page's font family -LF*/
* { /* Use the generic selector to overwrite any browser customization (such as those done by extensions like 'Itau Guardião'), ensuring accessibility and responsiveness */
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
					font-size: 2vw; /* Setting 2vw font-size on the body allows me to use the 'em' relative measurement. 1em = 2vw */
					font-family: PT Serif; /* Get this from the relsheet in home.html head */
					padding-left: 0vw;
					margin-left:0.0vw;
					background-color:rgb(188,181,184);
					background-image: url("BGImageHomepageTransparent.png");
					background-repeat: no-repeat;
					background-size: 100vw 100vh;
					z-index:0;
}

/* Changing Anchor/Link Style -LF*/	
a { 
	text-decoration: none; /* Eliminates underlines from the links */
	color: inherit; /* Makes all links inherit their font color from their parent div, otherwise they'd have the default link color */
}

/* Building the top menu (header) for the homepage */
header {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	background-color:#4c4c4c;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0vw;
	padding-top:0vw;
	height:2.5vw;

	
}

/* Will be used for the top-left corner logo */
#topmenulogo {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0.1vw;
	padding-top:0.1vw;
	height: 2.2vw;
}

/* Will be used for the nav menu on the top-right corner */
header ul {
	display: flex; /* A Flex display here allows us to place links side by side without the use of float and clear, and is more efficient than using css-grid */
	flex-direction: row; /* Specifies flex direction to be side-by-side, from left to right */
	justify-content: center; /* Means the elements will be centered on the parent div's width */
	list-style-type: none; /* Eliminates the bullets from the unordered list */
	padding-left: 0.2vw;
	padding-right: 0.9vw;
	margin-top: 0.425vw;
	margin-bottom: 0.425vw;
}

header li {
	color: #67C2FF;
	font-size: 0.6em;
}

header li a:hover {
	color: white;
}

/* Embraces the buttons and logo */
main {
}

/* BASE SETUP FOR VISITOR-PAGE STYLESHEET ENDS HERE */

/* The following are the main elements. Nav Buttons are the "Become an X" buttons and the Main Logo is the center piece for the page */

.mainlogo {
	position:absolute;
	top:12.5vw;
	left:39vw;
	z-index:2;
}

.mainnavbutton {
	height:8vw;
	width:16vw;
	background-color:#888FA7;
	border-radius:1vw;
	z-index:0;
	box-shadow: 0.4vw 0.4vw 0.2vw grey;
}
	
.mainnavbuttontext {
	color: #67C2FF;
	text-align: center;
	font-size: 1.3em;
	display:inline-block;
	z-index:1;
}

.tooltiptext {
	display: inline;
	font-size: 0.3em;
	z-index: 5;
	text-align: center;
	visibility:hidden;
	opacity: 0;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.8);
	padding-left:0.4vw;
	padding-right:0.4vw;
	padding-bottom:0.05vw;
	padding-top: 0.2vw;
	box-shadow: 0.2vw 0.2vw 0.2vw dimgrey;
	border-radius: 1vw;
	max-width:20vw;
	min-width:10vw;
	word-wrap:break-word; /* This will break my text when it reaches the div's max-width (padding/margin included). Without this, the text would either be hidden or rendered outside the tooltip's background/container/block */
	word-break:normal;
	transition: opacity 1.5s;
}

a:hover .tooltiptext {
	visibility: visible;
	padding-left:0.5vw;
	opacity: 1;
}