/* ===================================================== FILE DISCONTINUED ===================================================== */

/* The following is used for: -LF*/
/* Setting up the base font size and page's font family -LF*/
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
					font-size: 2vw;
					font-family: PT Serif;
					padding-left: 0vw;
					margin-left:0.1vw;
}

/* Changing Anchor/Link Style -LF*/	
a { 
	text-decoration: none;
	color: inherit;
}

/* Building the top menu (header) for the homepage */
header {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	background-color:#4c4c4c;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0vw;
	padding-top:0vw;
	height:4vw;

	
}

img {
	padding-left:0vw;
	padding-right:0vw;
	margin-left:0vw;
	margin-right:0vw;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-bottom:0vw;
	padding-top:0vw;
	height: 4vw;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	padding-left: 0.2vw;
	padding-right: 0.9vw;
	margin-top: 0.425vw;
	margin-bottom: 0.425vw;
}

li {
	color: #67C2FF;
	font-size: 1.1em;
}

main {
	display: block;
	background-color: #BCB5B8;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bgimage {
	z-index:-1;
	opacity:0.05;
	height:50vw;
	width:99vw
}

.mainnavbutton1 { /* QUICKFIX PLEASE MAKE ONLY ONE CLASS FOR NAVBUTTON LATER */
	height:10vw;
	width:20vw;
	background-color:#888FA7;
	position:absolute;
	top:12vw;
	left: 10vw;
	border-radius:20px;
	z-index:0;
}

.mainnavbutton2 { /* QUICKFIX PLEASE MAKE ONLY ONE CLASS FOR NAVBUTTON LATER */
	height:10vw;
	width:20vw;
	background-color:#888FA7;
	position:absolute;
	top:34.7vw;
	left: 68.3vw;
	border-radius:20px;
	z-index:0;
}

.mainnavbuttontext1 { /* QUICKFIX PLEASE MAKE ONLY ONE CLASS NAVBUTTONTEXT LATER */
	color: #67C2FF;
	text-align: center;
	font-size: 1.8em;
	display:inline-block;
	z-index:1;
	position:absolute;
	top:12.1vw;
	left: 11.2vw;
}

.mainnavbuttontext2 { /* QUICKFIX PLEASE MAKE ONLY ONE CLASS NAVBUTTONTEXT LATER */
	color: #67C2FF;
	text-align: center;
	font-size: 1.8em;
	display:inline-block;
	z-index:1;
	position:absolute;
	top:34.85vw;
	left: 70.65vw;
}

.mainlogo {
	position:absolute;
	top:20.5vw;
	left:38vw;
	z-index:2;
}
