.navbar {
	background-color:#4c4c4c;
}

body {
	background-color:rgb(188,181,184);
}

@media (min-width: 576px) { /* BIG SCREENS */

body {
	background-image: url("../Images/BGImageHomepageTransparent.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

.nav-item {
	font-size:2.2rem;
	margin-left:1vw;
}

.navbar-brand-img {
	height:9%;
}

.btn-frontpage {
	background-color:#888FA7;
	border-radius:1vw;
	box-shadow: 0.4vw 0.4vw 0.2vw grey;
	color: #67C2FF;
	font-size: 3.5rem;
}

.tooltip-inner {
	font-size:1.2rem;
}

.nav-tabs {
	padding-top:0.5vw;
}

.nav-tabs .nav-item .active {
	border-top-left-radius:30px;
	border-top-right-radius:30px;
}

.nav-tabs .nav-item a:hover {
	border-top-left-radius:30px;
	border-top-right-radius:30px;
}

.tab-pane {
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.tab-pane h2 {
	font-size:3.5rem;
}

.tab-pane {
	font-size:1.7rem;
}

.nav-pills .nav-item .nav-link{
	border-radius:100px;
	margin: 0.5vw 0 0.5vw 0;
	font-size:2.1rem;
}

.form-custom {
	font-size:2rem;
}

.form-custom h2 {
	font-size:3.5rem;
}

.form-group small {
	font-size:1rem;
}

.form-submit {
	font-size:1.5rem;
}

.featured-story-container h3 {
	color: #67C2FF;
	font-size:2.2rem;
}

.featured-story-container p {
	color: #E5F4FA;
	font-size: 1.5rem;
}

.my-story-container p {
	color: #E5F4FA;
	font-size: 1.5rem;
}

.my-story-container {
	background-color: #56B5E0;
	line-height:3.2rem;
}

.my-finished-stories-container {
	background-color: #6ECA67;
}

.my-finished-stories-container p{
	font-size: 1.5rem;
}

.my-finished-stories-container h3 {
	font-size:2.2rem;
}

.book-details-nav-link {
	font-size:1.5rem;
}

.failed-login {
	font-size:1.5rem;
}

.profile-private-alert {
	font-size:1.5rem;
}

} /* END BIG SCREENS */

@media (max-width: 575px) { /* SMALL SCREENS */
	
.btn-frontpage {
	background-color:#888FA7;
	border-radius:5vw;
	box-shadow: 1vw 1Vw 0.6vw grey;
	color: #67C2FF;
	font-size: calc(1rem + 4.7vw);
}

.nav-tabs {
	padding-top:0.5vw;
}

.nav-tabs .nav-item .active {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

.nav-tabs .nav-item a:hover {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

.tab-pane {
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.tab-pane h2 {
	font-size:2.5rem;
}

.tab-pane {
	font-size:0.9rem;
}

.nav-pills .nav-item .nav-link{
	border-radius:100px;
	margin: 5px 0 10px 0;
	font-size:1.2rem;
}

.form-submit {
	font-size:1rem;
}

h4 {
	font-size:1rem;
}

.featured-story-container h3 {
	color: #67C2FF;
	font-size:1.6rem;
}

.featured-story-container p {
	color: #E5F4FA;
	font-size: 1rem;
}

.my-story-container p {
	color: #E5F4FA;
	font-size: 1rem;
}

.my-finished-stories-container {
	background-color: #6ECA67;
}

.my-finished-stories-container p{
	font-size: 1rem;
}

.my-story-container {
	background-color: #56B5E0;
	line-height:1.6rem;
}

.my-finished-stories-container h3 {
	font-size:1.6rem;
}

.book-details-nav-link {
	font-size: 1rem;
}

.failed-login {
	font-size:1.2rem;
}

} /* END SMALL SCREENS */

.navbar-nav li a {
	color: #67C2FF !important;
}

.navbar-nav li a:hover {
	color: white !important;
}

.navbar-nav li .active {
	color: #DDDDBB !important;
}

.navbar-nav li .active:hover {
	color: #DDDDBB !important;
}

.nav-tabs {
	background-color: rgba(70,160,204,0.7);
	border-top-left-radius:1vw;
	border-top-right-radius:1vw;
	border-color: lightblue;
	max-height:20%;
}

.nav-tabs .nav-item a {
	color: rgb(220,220,220);
}

.nav-tabs .nav-item .active {
	color: rgb(220,220,220);
	background-color: rgba(100,170,230,0.5);
	border-color: lightblue;
}

.nav-tabs .nav-item .active:hover{
	color: rgb(220,220,220);
	background-color: rgba(100,170,230,0.5);
	border-color: lightblue;
}

.nav-tabs .nav-item a:hover {
	border-color:lightblue;
}

.tab-pane {
	background-color: rgba(70,160,204,0.7);
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 0.5vw;
	padding-top: 0.5vw;
	margin-bottom: 2vw;
}

.nav-pills .nav-item .nav-link{
	background-color:rgba(59,86,142,0.5);
	color:rgb(140,220,255);
}

.pill-content {
	background-color: transparent;
	transition: all 0.5s;
}

.form-custom {
	background-color: rgba(70,160,204,0.7);
	border-radius:30px;
}

.form-custom .form-control {
	max-width:80%;
}

.form-submit {
	border-radius:20px;
	margin-bottom:2vw;
	font-weight:bold;
}

small {
	font-weight:bold;
}

.section-container {
	padding: 0.5vw 0 0.05vw 2vw;
	margin: 0 0 2vw 0;
}

.featured-story-container {
	background-color:#4c4c4c;
}

.heading-home-author {
	margin: 1vw 0vw 1vw 2vw;
	padding: 0 10px 0 0;
	font-weight:bold;
}

.vertical-divider {
	margin: 0.5vw 2vw 1vw 2vw;
	border:2px solid white;
}

.btn-my-story {
	margin: 0.2vw 1vw 0.2vw 0;
	font-size:160%;
	border-radius:25px;
}

.userConfigurationLink {
	text-decoration:none; 
	color:#E5F4FA;
}

.userConfigurationLink:hover {
	text-decoration:underline; 
	color:#E5F4FA;
}

.section-container a {
	color:inherit;
	text-decoration:underline;
}

.section-container a:hover {
	color:#EDEDED !important;
	text-decoration:underline;
}

.my-finished-stories-container {
	color: #E5F4FA;
}

footer {
	background-color:#4c4c4c;
	min-height:7vh;
	margin: 0 0 0 0;
	color: #1792CB;
	font-weight:bold;
	font-size:1rem;
	margin-top:2vw;
}

.btn-my-story a {
	color:inherit;
}

.custom-file-control::after {
  content: "Choose File (.doc, .rtf, .docx, .html)";
}

.custom-file-control::before {
	content: "Open";
}

.author-sub-heading {
	font-size:1rem;
	font-style:italic;
}

.nav-tabs .nav-item .book-details-nav-link {
	color: white;
}
.nav-tabs .nav-item .disabled {
	color: grey;
}

.book-details-tab-content p {
	font-size:1.2rem;
	color:#E5F4FA;
}

.book-details-tab-content h3 {
	color:#E5F4FA;
	margin-top:1vw;
}

.book-details-tab-content h3 a {
	color:inherit;
	text-decoration:underline;
}

.book-details-tab-content h3 a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}

.book-details-tab-content p a {
	font-size:1.2rem;
	text-decoration:underline;
	color:#E5F4FA;
}

.book-details-tab-content p a:hover {
	font-size:1.2rem;
	text-decoration:underline;
	color:#FFFFFF;
}

.my-story-container {
	margin-top:0.5vw;
}

.failed-login {
	border-radius:25px;
	margin-top:2vw;
	display:none;
}

.profile-private-alert {
	border-radius:25px;
}